<%- include ('templates/header'); -%>

  <h1 class= "title">Operating System Usage</h1>

              <p>The following charts contain data from 2019.</p>

              <img class="meta-chart" src="img/meta-chart.png" />
              <p class ="center"> The domniant operating system is clearly Windows, this includes but not limited
                 to Windows 10, Windows 8, and Windows 7.</p>

              <img class="mobile-chart" src="img/mobile-chart.png" />
              <p class ="center"> Due to Android being present in many different smartphones that range frome a variety of companies, while its
                competitors are usually designed for one brand of phone, it has made it the most popular smartphone OS in the world.</p>

              <a href="https://gs.statcounter.com/os-market-share/mobile/worldwide">Source</a>

<%- include ('templates/footer'); -%>