<%- include('partials/header.ejs') %>
 <body>
     <h1>Welcome to Earth</h1>
    <img src="/img/earth.jpg" alt="Solar System" />

            <p>Earth is the third planet in our solar system.</p><br>
            <p>There is only one moon that rotates around Earth.</p><br>
            <p>Earth is the only planet not named after a God.</p><br>
      <p class="menu">Click on a planet to know more about it:</p>
        
            <a href="/mercury">Mercury</a><br>
            <a href="/venus">Venus</a><br>
            <a href="/earth">Earth</a> <br>
            <a href="/">Home</a>
            

<%- include('partials/footer.ejs') %>