<%- include('templates/header'); -%>

<h1 class= "title">Overview</h1>
            <p>An <strong>operating system </strong>, also known as an OS, is a system software that manages computer hardware, software, and provides services for various
            computer programs. An OS acts as an <strong>intermediary</strong> between programs and computer hardware to facilitate usage.
            Operating Systems are not only found in computers but are also present in cell phones, video game consoles, and web servers.</p><br>

            <table>
                <tr>
                    <th>Section</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Functionality</td>
                    <td>Covers the basic functionality of an operation system.
                    How does it work?</td>
                </tr>
                <tr>
                    <td>Types</td>
                    <td>There are several types of Operation Systems. Here we will discuss
                    the difference between them.</td>
                </tr>
                <tr>
                    <td>Demographic</td>
                    <td>Which Operating System is the most popular? Which is the easiest to use?
                    </td>
                </tr>
            </table>


        </div>
        
<%- include('templates/footer'); -%>