<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> POPULAR QUOTES </h1>
		<form action='/names' method='GET'>
					<br>
					<button class='btn btn-primary btn-block'>Search by Name</button>
		</form>
		<br><br>
			<form action='/gender' method='GET'>
			<button class= 'btn btn-primary btn-block'>Search by Gender</button>
				</div>
				<div class='col-sm-4'></div>
				</form>
			<form action='/category' method='GET'>
			<button class= 'btn btn-primary btn-block'>Search by Category</button>
				</div>
				<div class='col-sm-4'></div>
				</form>
			</div>
		</form>
	</div>
</div>

<%- include ('templates/footer'); -%>