<%- include('templates/header'); -%>

<div class ='container'>
    <div class ='jumbotron'>
        <h1> Open Library </h1>
        <form action='/results' method='GET'>
            <input text='type' name='search' placeholder='type ISBN number'>
            <button class = 'btn btn-info'>Search</button>
        </form>
       
    
</div>


<%- include('templates/footer'); -%>