<%- include ('templates/header'); -%>

<h1 class= "title">Purpose</h1>
            <p>As previously stated the Operating System  acts as an <strong>intermediary</strong> between the hardware and software.
            Communication between software and hardware happens when functions such as <strong>input/output</strong> and <strong>memory allocation</strong>
            are called by the user. When there are multiple function calls, such as multiple programs wanting to run at
            same time, the Operation System steps in to coordinate and allocate the necessary resources to each program. The
            resources allocated are known as <strong>storage</strong>, <strong>memory</strong>, and <strong>CPU</strong>.</p><br>

              <img class="os-chart" src="img/os_chart.png" alt=""/>

            <a href="https://en.wikipedia.org/wiki/Operating_system">Source</a>


<%- include ('templates/footer'); -%>