<%- include ('templates/header'); -%>

  <h1 class= "title">Types of OS</h1>

          <figure>
            <img class="os-types" src="img/os-types.jpg" />
            <figcaption class ="fig">Popular Operating Systems</figcaption>

          </figure>


          <p>There are hundreds of operating systems some which are specifically used for a certain device and/or task.
            For example, the opearting system Linux is very popular and common in many apache servers. While Windows and MacOS
            are more common in desktops. There is even operating systems for calculators. That is because they are needed to facilitate
            usage between the user and the software/hardware.
             </p>

          <a href="https://en.wikipedia.org/wiki/List_of_operating_systems">Source</a>

<%- include ('templates/footer'); -%>