<%- include('partials/header.ejs') %>
 <body>
     <h1>Welcome to Venus</h1>
    <img src="/img/venus.jpg" alt="Solar System" />
  
    <p>Some fun facts about Venus:</p><br>
            <p>Venus is the second brightest natural object in the sky.</p><br>
            <p>One day in Venus is longer than a Earth year.</p><br>
            <p>Venus is sometimes called Earth's sister plant.</p><br>
              <p class="menu">Click on a planet to know more about it:</p>
        
            <a href="/mercury">Mercury</a><br>
            <a href="/venus">Venus</a><br>
            <a href="/earth">Earth</a> <br>
             <a href="/">Home</a>
            

<%- include('partials/footer.ejs') %>