  </main>


        <footer>
            <hr>
            <p>CST 336. &copy; 2020 Jose Perez.<br/>
            <strong>Disclaimer:</strong> the information on this webpage is fictious. <br/>
            It is used for academic purposes only.</p>
            <img id="csumb_logo" src="img/csumb.png" alt="CSUMB Logo"/>
        </footer>

    </body>
</html>
