<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Operating Systems: An Overview</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>

    <body>

        <header>
            <a id="home" href="home"><h1>Operating Systems</h1></a>

            <nav>
                <a id="current" href="#">Overview</a>
                <a href="intro">Functionality</a>
                <a href="types">Types</a>
                <a href="demo">Demographic</a>
            </nav>

            <div id="header-overview" class="header-image"></div>

        </header>

        <main>